@font-face{
    font-family: 'Figtree', helvetica, sans-serif;
/*    src:url('Fonts/NeueMontreal-Regular.otf') format('otf');
    src:url("https://www.sutingyu.com/fonts/NeueMontreal-Regular.otf") format('otf');
    src:url("NeueMontreal-Regular");*/
    font-weight: normal;
}

html,
body {
  overflow: hidden;
/*  font-family: PPNeueMontreal, helvetica, sans-serif;*/
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Figtree', helvetica, sans-serif;
}

/*mobile*/
@media only screen and (max-device-width: 500px) {
  #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .a-title {
    font-size: 21px;
    margin-left: 30px;
    position: absolute;
    color: white;
    top:10px;
  }
  .a-second-title {
    font-size: 21px;
    margin-left: 30px;
    width: 85vw;
    position: absolute;
    color: white;
    top:70px;
  }
  .input-passcode{
    font-size: 18px;
    margin-left: 30px;
    height: 28px;
    width: 180px;
    position: absolute;
    margin-top: 76vh;
    color: black;
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 4px 2px 2px 8px;
  }
  .input-button{
    background: transparent;
    font-size:18px;
    margin-left: 230px;
    width: auto;
    position: absolute;
    margin-top: 77vh;
    color: white;
    text-decoration: underline;
    mix-blend-mode: difference;
  }

  .input-button:hover {
    color: white;
    cursor: pointer;
  }

  #noti{
    font-size: 18px;
    margin-left: 30px;
    width: auto;
    position: absolute;
    margin-top: 83vh;
    color: white;
    display: none;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  input{
    border: none;
    height: 24px;
    padding: 0;
  }
}

/*tablet*/
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .a-title {
    font-size: 40px;
    margin-left: 40px;
    position: absolute;
    color: white;
  }
  .a-second-title {
    font-size: 40px;
    margin-left: 40px;
    top: 90px;
    width: 85vw;
    position: absolute;
    color: white;
  }
  .input-passcode{
    font-size: 40px;
    margin-left: 30px;
    height: 36px;
    width: 300px;
    position: absolute;
    margin-top: 76vh;
    color: black;
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 15px 0px 0px 15px;
  }
  .input-button{
    background: transparent;
    font-size: 40px;
    margin-left: 380px;
    width: auto;
    position: absolute;
    margin-top: 76.5vh;
    color: white;
    text-decoration: underline;
    mix-blend-mode: difference;
  }

  .input-button:hover {
    color: white;
    cursor: pointer;
  }

  #noti{
    font-size: 40px;
    margin-left: 30px;
    width: auto;
    position: absolute;
    margin-top: 82vh;
    color: white;
    display: none;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  input{
    border: none;
    height: 4vw;
    width: 20vw;
    padding: 0;
  }
}


/*laptop*/
@media only screen and (min-device-width: 900px) {
  #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .a-title {
    font-size: 30px;
    position: absolute;
    margin-left: 3.8vw;
    margin-top: 2.3vw;
    color: white;
  }
  .a-second-title {
    font-size: 30px;
    position: absolute;
    margin-top: 2.3vw;
    margin-left: 250px;
    width: 35vw;
    color: white;
  }
  .input-passcode{
    font-size: 18px;
    position: absolute;
    margin-left: 3.8vw;
    height: 40px;
    width: 12vw;
    margin-top: 82vh;
    color: black;
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 2px 0px 0px 8px;
    color: grey;
  }
  .input-button{
    background: transparent;
    font-size: 24px;
    margin-left: 19vw;;
    width: auto;
    position: absolute;
    margin-top: 82.8vh;
    color: white;
    text-decoration: underline;
    mix-blend-mode: difference;
  }

  .input-button:hover {
    color: white;
    cursor: pointer;
  }

  #noti{
    font-size: 1.6vw;
    margin-left: 3.8vw;
    width: auto;
    position: absolute;
    margin-top: 89vh;
    color: white;
    display: none;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  input{
    border: none;
    height: 30px;
    padding: 0;
  }
}

