@font-face{
  font-family: "Inter", helvetica, sans-serif;
  
}

html,
body {
  overflow: hidden;
/*  font-family: PPNeueMontreal, helvetica, sans-serif;*/
  font-family: 'Inter', helvetica, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Inter', helvetica, sans-serif;
}

.biosectiongroup{
  font-family: 'Inter', helvetica, sans-serif;
  position: absolute;
  color: white;
}

/*mobile*/
@media only screen and (max-device-width: 500px) {
  #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .a-title {
    font-size: 40px;
    margin-left: 30px;
    position: absolute;
    color: white;
    top:40px;
  }
  .a-second-title {
    font-size: 21px;
    margin-left: 30px;
    width: 85vw;
    position: absolute;
    color: white;
    top:120px;
  }
  .biosectiongroup{
    margin-top: 400px;
    margin-left: 30px;
    max-width: 80%;
  }
  .biosectiontitle{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .input-passcode{
    font-size: 14px;
    margin-left: 30px;
    height: 28px;
    width: 180px;
    position: absolute;
    margin-top: 24vh;
    color: black;
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 4px 2px 2px 8px;
  }
  .input-button{
    /* background: transparent; */
    font-size:18px;
    margin-left: 230px;
    width: auto;
    position: absolute;
    margin-top: 24vh;
    color: white;
    text-decoration: underline;
    mix-blend-mode: difference;
    border: white 1px solid;
    border-radius: 100px;
    height:36px;
    width: 36px;
  }

  .input-button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.8s;
  }

  #noti{
    font-size: 18px;
    margin-left: 30px;
    width: auto;
    position: absolute;
    margin-top: 83vh;
    color: white;
    display: none;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  input{
    border: none;
    height: 24px;
    padding: 0;
  }
}

/*tablet*/
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .a-title {
    font-size: 40px;
    margin-left: 40px;
    position: absolute;
    color: white;
    margin-top: 40px;
  }
  .a-second-title {
    font-size: 30px;
    margin-left: 40px;
    top: 200px;
    width: 85vw;
    position: absolute;
    color: white;
  }
  .biosectiongroup{
    top: 560px;
    margin-left: 40px;
  }
  .biosectiontitle{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .input-passcode{
    font-size: 20px;
    margin-left: 30px;
    height: 36px;
    width: 300px;
    position: absolute;
    margin-top: 14vh;
    color: black;
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 8px 0px 8px 16px;
  }
  .input-button{
    background: transparent;
    font-size: 40px;
    margin-left: 380px;
    width: auto;
    position: absolute;
    margin-top: 14vh;
    color: white;
    text-decoration: underline;
    mix-blend-mode: difference;
    border: white 1px solid;
    border-radius: 100px;
    height:50px;
    width: 50px;
  }

  .input-button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.8s;
  }

  #noti{
    font-size: 40px;
    margin-left: 30px;
    width: auto;
    position: absolute;
    margin-top: 82vh;
    color: white;
    display: none;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  input{
    border: none;
    height: 4vw;
    width: 20vw;
    padding: 0;
  }
}


/*laptop*/
@media only screen and (min-device-width: 900px) {
  #container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .a-title {
    font-size: 80px;
    position: absolute;
    margin-left: 8vw;
    margin-top: 4vw;
    color: white;
  }
  .a-second-title {
    font-size: 30px;
    position: absolute;
    margin-top: 14vw;
    margin-left: 8vw;
    width: 55vw;
    color: white;
  }
  .biosectiongroup{
    margin-left: 8vw;
    margin-top: 36vw;
    display: flex;
    font-size: 20px;
    padding-bottom: 100px;
  }
  .biosection{
    width: 24vw;
    margin-right: 4vw;
  }
  .biosectiontitle{
    text-decoration-line: underline;
    text-decoration-style: double;
    margin-bottom: 1vw;
    margin-top: 3vw;
  }
  .biosection1{
    max-width: 16vw;
  }
  .biosection2{
    max-width: 16vw;
  }
  .biosection3{
    max-width: 16vw;
  }
  .input-passcode{
    font-size: 18px;
    position: absolute;
    margin-left: 3.8vw;
    height: 40px;
    width: 23vw;
    margin-top: 20vh;
    color: black;
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 2px 0px 0px 8px;
    color: grey;
  }
  .input-button{
    background: transparent;
    font-size: 24px;
    margin-left: 29vw;;
    /* width: auto; */
    position: absolute;
    margin-top: 20vh;
    color: white;
    text-decoration: underline;
    mix-blend-mode: difference;
    border: white 1px solid;
    border-radius: 100px;
    height:42px;
    width: 42px;
  }

  .input-button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.8s;
  }

  #noti{
    font-size: 1.6vw;
    margin-left: 3.8vw;
    width: auto;
    position: absolute;
    margin-top: 89vh;
    color: white;
    display: none;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  input{
    border: none;
    height: 30px;
    padding: 0;
  }
}

