@font-face{
    font-family: "Inter", helvetica, sans-serif;
}

html{
    font-family: "Inter", helvetica, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 180px;
}

body{
    margin: 0;
    padding: 0;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
    scroll-margin-top: 180px;
}

h1{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

h2{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
img{
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.highlightbackground{
    border-radius: 10px;
    vertical-align: middle;
}
#sidebarcontent > div > a{
    text-decoration: none;
    /* color:#bbb; */
}
.icons{
    width: 30px;
    display: block;
    margin-bottom: 60px;
    border-radius: 0px;
}

/*mobile & ipad*/
@media screen and (max-device-width: 500px) and (min-device-width: 1px){
    body{
        margin: 0;
    }
    .imgfullwidth{
        width: 100vw;
    }
    .imgregular{
        width: 96vw;
    }
    .placeholder{
        width: 1px;
        height: 80px;
        display: block;
    }
    .labelstatus{
        /* background-color: #01AE42; */
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .labelhashtag{
        border: 1px solid lightgray;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .projecttitle{
        display: block;
        gap: 40px;
        margin: auto;
    }
    .projecttitlegrid1{
        grid-area: left;
    }
    .projecttitlegrid2{
        grid-area: right;
    }
    .projectbrief{
        display: block;
        gap: 40px;
        margin: auto;
    }
    .projectbriefgrid1{
        grid-area: left;
    }
    .projectbriefgrid2{
        grid-area: right;
    }
    .projectsection{
        display: block;
        gap: 40px;
        margin: auto;
    }
    .projectsectiongrid1{
        grid-area: left;
        padding: 30px;

        border-radius: 10px;
    }
    .projectsectiongrid2{
        grid-area: right;
        padding: 30px;

        border-radius: 10px;
    }
    .innersectiontitle{
        border-top: 1px solid #bbb;
    }
    .innersectionend{
        padding-bottom: 16px;
    }
    #sidebar{
        display: none;
    }
    .maxcontentwidth{
        max-width: 92vw;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}



/* desktop layout*/
@media screen and (min-device-width: 501px) and (max-device-width: 1100px) {
    body{
        margin:0;
    }
    .imgfullwidth{
        width: 100vw;
    }
    .imgregular{
        width: 100%;
    }
    .placeholder{
        width: 1px;
        height: 50px;
    }
    .labelstatus{
        /* background-color: #01AE42; */
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        /* margin: 26px 0px; */
        display: inline-block;
    }
    .labelhashtag{
        border: 1px solid lightgray;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .projecttitle{
        display: block;
        margin: auto;
        width: 96vw;
    }
    .projecttitlegrid1{
        grid-area: left;
        width: 90vw;
    }
    .projecttitlegrid2{
        grid-area: right;
        width: 90vw;
    }
    .projectbrief{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        margin: auto;
        width: 96vw;
    }
    .projectbriefgrid1{
        grid-area: left;
        width: 45vw;
        max-width: 580px;
    }
    .projectbriefgrid2{
        grid-area: right;
        width: 45vw;
        max-width: 580px;
    }
    .projectsection{
        display: grid;
        grid-template-areas:'left right forth';
        gap: 40px;
        width: 92vw;
        margin: auto;
    }
    .projectsectiongrid1{
        grid-area: left;
        width: 26vw;
        max-width: 580px;
        padding: 30px;
        border-radius: 10px;
    }
    .projectsectiongrid2{
        grid-area: right;
        width: 26vw;
        max-width: 580px;
        padding: 30px;
        border-radius: 10px;
    }
    .projectsectiongrid3{
        grid-area: forth;
        width: 26vw;
        max-width: 580px;
        padding: 30px;
        border-radius: 10px;
    }
    .innersectiontitle{
        border-top: 1px solid #bbb;
    }
    .innersectionend{
        padding-bottom: 16px;
    }
    #sidebar{
        display: none;
    }
    .maxcontentwidth{
        max-width: 92vw;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}



/* large desktop layout*/
@media screen and (min-device-width: 1101px) {
    .imgfullwidth{
        width: 100vw;
        max-width: 1800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .imgregular{
        width: 100%;
    }
    .placeholder{
        width: 1px;
        height: 20px;
    }
    .labelstatus{
        /* background-color: #01AE42; */
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        /* margin: 26px 0px; */
        display: inline-block;
    }
    .labelhashtag{
        border: 1px solid lightgray;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        /* margin: 26px 0px; */
        display: inline-block;
    }
    .projecttitle{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        max-width: 1400px;
        margin: auto;
    }
    .projecttitlegrid1{
        grid-area: left;
        width: 80vw;
        max-width: 680px;
    }
    .projecttitlegrid2{
        grid-area: right;
        max-width: 650px;
    }
    .projectbrief{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    .projectbriefgrid1{
        grid-area: left;
        width: 45vw;
        max-width: 680px;
        border-top: 1px solid #bbb;
    }
    .projectbriefgrid2{
        grid-area: right;
        width: 45vw;
        max-width: 680px;
        border-top: 1px solid #bbb;
    }
    .maxcontentwidth{
        max-width: 1400px;
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
    #sidebar{
        z-index: 1000;
        width: 22%;
        display: inline-block;
        vertical-align: top;
        margin-right: 3%;
    }
    #actualcontent{
        display: inline-block;
        width: 74%;
        vertical-align: top;
    }
    .projectsection{
        display: grid;
        grid-template-areas:'left right forth';
        gap: 4%;
        margin:auto;
    }
    .projectsectiongrid1{
        grid-area: left;
        max-width: 340px;
        padding: 30px;
        border-radius: 10px;
    }
    .projectsectiongrid2{
        grid-area: right;
        max-width: 340px;
        padding: 30px;
        border-radius: 10px;
    }
    .projectsectiongrid3{
        grid-area: forth;
        max-width: 340px;
        padding: 30px;
        border-radius: 10px;
    }
    .innersectiontitle{
        border-top: 1px solid #bbb;
        padding-top: 8px;
    }
    .innersectionend{
        padding-bottom: 16px;
    }
    
}