@font-face{
    font-family: "Inter", helvetica, sans-serif;
}

html{
    font-family: "Inter", helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

h2{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
img{
    margin: 0;
    padding: 0;
}


/*mobile & ipad*/
@media screen and (max-device-width: 500px) and (min-device-width: 1px){
    #websitename{
        position:fixed;
        font-size: 30px;
        top: 50px;
        left: 20px;
        color:#222;
        text-decoration-line: none;
    }
    #websiteabout{
        position:fixed;
        font-size: 30px;
        top: 50px;
        right: 20px;
        color:#222;
        text-decoration-line: none;
    }
    body{
        width: 96vw;
        margin: auto;
    }
    .imgfullwidth{
        width: 100vw;
    }
    .imgregular{
        width: 100vw;
    }
    .placeholder{
        width: 1px;
        height: 100px;
        display: block;
    }
    .labelstatus{
        font-size: 16px;
        font-weight: 400;
        color: #222;
        background-color: #01AE42;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .labelhashtag{
        font-size: 16px;
        font-weight: 400;
        color: #222;
        border: 1px solid lightgray;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .projecttitle{
        display: block;
        gap: 40px;
        margin: auto;
    }
    .projecttitlegrid1{
        grid-area: left;
        padding-top: 16px;
    }
    .projecttitlegrid2{
        grid-area: right;
        padding-top: 16px;
    }
    .projectbrief{
        display: block;
        gap: 40px;
        margin: auto;
    }
    .projectbriefgrid1{
        grid-area: left;
        border-top: 1px solid #bbb;
        padding-top: 16px;
    }
    .projectbriefgrid2{
        grid-area: right;
        border-top: 1px solid #bbb;
        padding-top: 16px;
    }
    .projectsection{
        display: block;
        gap: 40px;
        margin: auto;
        border-top: 1px solid #bbb;
    }
    .projectsectiongrid1{
        grid-area: left;
        padding-top: 16px;
    }
    .projectsectiongrid2{
        grid-area: right;
        padding-top: 16px;
    }
    .largefont1{
        font-size: 64px;
        font-weight: 400;
        color: #222;
    }
    .largefont2{
        font-size: 48px;
        font-weight: 350;
        color: #222;
    }
    .largefont3{
        font-size: 30px;
        font-weight: 350;
        color: #222;
    }
    .regularfont1black{
        font-size: 18px;
        font-weight: 400;
        color: #222;
        padding-bottom: 4px;
    }
    .regularfont1gray{
        font-size: 18px;
        font-weight: 400;
        color: #bbb;
        padding-bottom: 4px;
    }
    .innersectiontitle{
        padding-top: 16px;
        border-top: 1px solid #bbb;
    }
    .innersectionend{
        padding-bottom: 16px;
    }
}



/* desktop layout*/
@media screen and (min-device-width: 501px) and (max-device-width: 1300px) {
    #websitename{
        position:fixed;
        font-size: 20px;
        top: 40px;
        left: 20px;
        color:#222;
        text-decoration-line: none;
    }
    #websiteabout{
        position:fixed;
        font-size: 20px;
        top: 40px;
        right: 20px;
        color:#222;
        text-decoration-line: none;
    }
    body{
        width: 96vw;
        margin: auto;
        /* overflow: hidden; */
    }
    .imgfullwidth{
        width: 100%;
    }
    .imgregular{
        width: 100%;
    }
    .placeholder{
        width: 1px;
        height: 100px;
    }
    .labelstatus{
        font-size: 16px;
        font-weight: 400;
        color: #222;
        background-color: #01AE42;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .labelhashtag{
        font-size: 16px;
        font-weight: 400;
        color: #222;
        border: 1px solid lightgray;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .projecttitle{
        display: block;
        margin: auto;
        width: 96vw;
    }
    .projecttitlegrid1{
        grid-area: left;
        width: 90vw;
        padding-top: 16px;
    }
    .projecttitlegrid2{
        grid-area: right;
        width: 90vw;
        padding-top: 16px;
    }
    .projectbrief{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        margin: auto;
        width: 96vw;
    }
    .projectbriefgrid1{
        grid-area: left;
        width: 45vw;
        max-width: 580px;
        border-top: 1px solid #bbb;
        padding-top: 16px;
    }
    .projectbriefgrid2{
        grid-area: right;
        width: 45vw;
        max-width: 580px;
        border-top: 1px solid #bbb;
        padding-top: 16px;
    }
    .projectsection{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        width: 96vw;
        margin: auto;
        border-top: 1px solid #bbb;
    }
    .projectsectiongrid1{
        grid-area: left;
        width: 45vw;
        max-width: 580px;
        padding-top: 16px;
    }
    .projectsectiongrid2{
        grid-area: right;
        width: 45vw;
        max-width: 580px;
        padding-top: 16px;
    }
    .largefont1{
        font-size: 64px;
        font-weight: 400;
        color: #222;
    }
    .largefont2{
        font-size: 48px;
        font-weight: 350;
        color: #222;
    }
    .largefont3{
        font-size: 30px;
        font-weight: 350;
        color: #222;
    }
    .regularfont1black{
        font-size: 18px;
        font-weight: 400;
        color: #222;
        padding-bottom: 4px;
    }
    .regularfont1gray{
        font-size: 18px;
        font-weight: 400;
        color: #bbb;
        padding-bottom: 4px;
    }
    .innersectiontitle{
        padding-top: 16px;
        border-top: 1px solid #bbb;
    }
    .innersectionend{
        padding-bottom: 16px;
    }
}



/* large desktop layout*/
@media screen and (min-device-width: 1301px) {
    #websitename{
        position:fixed;
        font-size: 30px;
        top: 50px;
        left: 40px;
        color:#222;
        text-decoration-line: none;
    }
    #websiteabout{
        position:fixed;
        font-size: 30px;
        top: 50px;
        right: 40px;
        color:#222;
        text-decoration-line: none;
    }
    .imgfullwidth{
        width: 100vw;
    }
    .imgregular{
        width: 100%;
    }
    .placeholder{
        width: 1px;
        height: 100px;
    }
    .labelstatus{
        font-size: 16px;
        font-weight: 400;
        color: #222;
        background-color: #01AE42;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .labelhashtag{
        font-size: 16px;
        font-weight: 400;
        color: #222;
        border: 1px solid lightgray;
        padding:16px;
        height: 20px;
        text-align: center;
        border-radius: 30px;
        margin: 26px 0px;
        display: inline-block;
    }
    .projecttitle{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        max-width: 1400px;
        margin: auto;
    }
    .projecttitlegrid1{
        grid-area: left;
        width: 50vw;
        max-width: 650px;
        padding-top: 16px;
    }
    .projecttitlegrid2{
        grid-area: right;
        width: 50vw;
        max-width: 650px;
        padding-top: 16px;
    }
    .projectbrief{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        max-width: 1400px;
        margin: auto;
    }
    .projectbriefgrid1{
        grid-area: left;
        width: 50vw;
        max-width: 650px;
        border-top: 1px solid #bbb;
        padding-top: 16px;
    }
    .projectbriefgrid2{
        grid-area: right;
        width: 50vw;
        max-width: 650px;
        border-top: 1px solid #bbb;
        padding-top: 16px;
    }
    .projectsection{
        display: grid;
        grid-template-areas:'left right';
        gap: 40px;
        max-width: 1400px;
        margin: auto;
        border-top: 1px solid #bbb;
    }
    .projectsectiongrid1{
        grid-area: left;
        width: 50vw;
        max-width: 650px;
        padding-top: 16px;
    }
    .projectsectiongrid2{
        grid-area: right;
        width: 50vw;
        max-width: 650px;
        padding-top: 16px;
    }
    .largefont1{
        font-size: 64px;
        font-weight: 400;
        color: #222;
    }
    .largefont2{
        font-size: 48px;
        font-weight: 350;
        color: #222;
    }
    .largefont3{
        font-size: 30px;
        font-weight: 350;
        color: #222;
    }
    .regularfont1black{
        font-size: 18px;
        font-weight: 400;
        color: #222;
        padding-bottom: 4px;
    }
    .regularfont1gray{
        font-size: 18px;
        font-weight: 400;
        color: #bbb;
        padding-bottom: 4px;
    }
    .innersectiontitle{
        padding-top: 16px;
        border-top: 1px solid #bbb;
    }
    .innersectionend{
        padding-bottom: 16px;
    }
}