@font-face{
    font-family: "Manrope", helvetica, sans-serif;
/*    src:url('Fonts/NeueMontreal-Regular.otf') format('otf');
    src:url("https://www.sutingyu.com/fonts/NeueMontreal-Regular.otf") format('otf');
    font-weight: normal;*/
}

/*mobile*/
@media only screen and (max-device-width: 500px) {
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: #f3f3f3;
        font-family: "Manrope", helvetica, sans-serif;
        font-style: 100;
        /*overflow: hidden;*/
        margin-left: -0.1vw;
    }

    a{
        font-family: "Manrope", helvetica, sans-serif;
        font-style: 100;
    }

    .top{
        position: fixed;
        margin: 0;
        margin-top: -2vw;
        padding: 0;
        height: 14vw;
        width:100vw;
        z-index: 10;
        /*color:000FF;*/
    }

    #mynameen{
        font-size: 4vw;
        position: absolute;
        margin-right: 40vw;
        margin-top: 6vw;
    }
    .top a{
        color: black;
    }

    #topmenu{
        transition-duration: 0.35s;
    }

    .menu{
        position: absolute;
        font-size: 4vw;
        margin-left: 3.1vw;
        margin-right: 3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #menuarchive{
        font-size: 4vw;
        position: absolute;
        margin-left: 87vw;
        margin-top: 6vw;
    }

    #menuinfo{
        font-size: 4vw;
        position: absolute;
        margin-left: 87vw;
        margin-top: 6vw;
    }

    .info{
        margin-left: 0vw;
        background-color: #f3f3f3;
    }

    .projecttitle{
        font-size: 48px;
        margin: 0;
        padding: 0;
        padding-top: 20vw;
        padding-left: 4vw;
        width: 94vw;
        background-color: #f3f3f3;
    }

    .infocontent1{
        display: inline-block;
        width: 86%;
        font-size: 48px;
        margin-top: 3vw;
        margin-bottom: 3vw;
        margin-left: 4vw;
    }

    .infocontent2{
        font-size: 24px;
        margin-bottom: 3vw;
        margin-left:4vw;
        margin-top: 4vw;
    }

    .infocontent3{
        display: inline-block;
        width: 28vw;
        font-size: 24px;
        margin-left: 4vw;
        margin-bottom: 5vw;
    }

    .subtitleHeader4{
        margin-left: 4vw;
        font-size: 48px;
    }

    .subtitlecontent4{
        margin-left: 4vw;
        font-size: 24px;
        width: 86vw;
    }

    .category{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 4vw;
        margin-right: 20vw;
        display: block;
        padding-top: 6vw;
        padding-left: 8vw;
    }

    .time{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 4vw;
        display: block;
        padding-left: 8vw;
    }

    .role{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        display: block;
        padding-left: 8vw;
    }

    .content{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 6vw;
        width: 84vw;
        padding-bottom: 9vw;
        margin-left: 8vw;
    }

    .problemtitle{
        font-size: 6vw;
        line-height: 6.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
    }

    .solutiontitle{
        font-size: 6vw;
        line-height: 6.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 6vw;
    }

    .problem{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }

    .solution{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }

    .iframe1{
        margin: 0;
        padding: 0;
        width: 96vw;
        height: 84vw;
    }
    .iframe2{
        margin: 0;
        padding: 0;
        width: 40vw;
        height: 35vw;
    }

    .figmaproto{
        margin: 0;
        padding: 0;
        width:50vw;
        height:70vw;
        margin-left: -1vw;
    }

    .iframe3{
        margin: 0;
        padding: 0;
        width:96vw;
        height:60vw;
        margin-left: -1vw;
    }
    .iframe5{
        margin: 0;
        padding: 0;
        width:96vw;
        height:48vw;
        margin-left: -1vw;
    }
    .iframe2{
        margin: 0;
        padding: 0;
        width:94vw;
        height:100vw;
    }
    .caption1{

    }
    .caption2{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 2vw;
        margin-left: 8vw;
    }
    .heroimage{
        width: 100vw;
        margin: 0;
        /*margin-left: -3vw;*/
        margin-top: -1vw;
    }

    .subtitle1{
        font-size: 24px;
        margin: 0;
        padding: 0;
        margin-left: 4vw;
        padding-top: 8vw;
    }

    .subtitle2{
        font-size: 24px;
        margin: 0;
        padding: 0;
        margin-left: 4vw;
        padding-top: 4vw;
    }

    .subtitlecontent1{
        font-size: 24px;
        margin: 0;
        padding: 0;
        margin-left: 4vw;
        width: 90vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .subtitlecontent2{
        font-size: 24px;
        margin: 0;
        padding: 0;
        width: 90vw;
        margin-left: 4vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .subtitlecontent3{
        font-size: 24px;
        margin: 0;
        padding: 0;
        width: 90vw;
        margin-left: 4vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .placeholder1{
        height:10vw;
    }

    .onepic1{
        width: 90vw;
        margin-left: 4vw;
    }
    .onepic2{
        width: 90vw;
        margin-left: 4vw;
        margin-bottom: 4vw;
    }
    .onepic3{
        width: 90vw;
        margin-left: 4vw;
    }
    .onepic4{
        width: 90vw;
        margin-left: 4vw;
    }
    .subtitleHeader1{
        font-size: 48px;
        margin-left: 4vw;
        width: 90vw;
        margin-top: 2vw;
    }
    .subtitleHeader2{
        font-size: 48px;
        margin-left: 4vw;
        width: 90vw;
    }

    .anchor{
        display: none;
    }
}



/* desktop layout for larger windows*/
@media only screen and (min-device-width: 501px){
    html{
        scroll-behavior: smooth;
    }

    body{
        border:0;
        margin:0;
        font-family: "Manrope", helvetica, sans-serif;
        font-style: 100;
        background-color: #f3f3f3;
        margin-bottom: 0;
    }

    a{
        font-family: "Manrope", helvetica, sans-serif;
        font-style: 100;
    }

    a:link, a:visited {
      color: #000;
      text-decoration: none;
    }

    .top{
        display: none;
    }

    .anchor{
        margin:0; 
        width: 19vw; 
        position: fixed; 
        height: 100vh; 
        overflow: hidden; 
        background-color: black;
        z-index: 2; 
        color: white;
    }

    .namets{
        font-size: 1.5vw;
        display: block;
        margin: 0;
        margin-left: 2vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    .anchortitle{
        display: block;
        font-size: 1vw;
        text-decoration: overline 1px;
        margin-bottom: 0.2vh;
        margin-top: 3vh;
        margin-left: 2vw;
    }

    .anchorcontent{
        display: block;
        font-size: 1vw;
        margin-bottom: 0.2vh;
        margin-left: 2vw;
    }

    .projectcontent{
        margin-left: 19vw; 
        width:81vw; 
        height: auto; 
        overflow: hidden;
    }

    .heroimage{
        width: 100%;
        z-index: -1;
        top: 0; 
        left: 0;
    }

    .projecttitle{
        font-size: 3vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-left: 4vw;
        margin-top: 3vw;
        display: none;
    }

    .info{
        margin-left: 4vw;
    }

    .infocontent1{
        display: inline-block;
        width: 85%;
        font-size: 2.2vw;
        margin-top:6vw;
        margin-bottom: 3vw;
    }

    .infocontent2{
        display: inline-block;
        width: 40%;
        font-size: 1.2vw;
        margin-bottom: 5vw;
    }

    .infocontent3{
        display: inline-block;
        width: 18%;
        font-size: 1.2vw;
    }

    .subtitle1{
        font-size: 1.4vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        margin-top: 3vw;
        padding-top: 4vw;
        margin-left: 4vw;
    }

    .subtitleHeader1{
        display: inline-block;
        font-size: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 4vw;
        margin-top: 2vw;
/*        position: absolute;*/
    }

    .subtitlecontent1{
        display: inline-block;
        font-size: 1.2vw;
        line-height: 1.5vw;
        width: 60vw;
        position: absolute;
    }

    .subtitle2{
        font-size: 1.4vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        padding-top: 5vw;
        /*padding-top: 5vw;*/
        margin-left: 4vw;
    }

    .subtitleHeader2{
        font-size: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 4vw;
    }

    .subtitlecontent2{
        font-size: 1.2vw;
        line-height: 1.5vw;
        margin: 0;
        padding: 0;
        margin-top: 1vw;
        padding-bottom: 1.5vw;
        margin-left: 4vw;
        width: 91%;
    }

    .subtitlecontent3{
        font-size: 1.2vw;
        line-height: 1.5vw;
        margin: 0;
        padding: 0;
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: 4vw;
        width: 42%;
        display: inline-block;
    }

    .subtitleHeader4{
        display: inline-block;
        font-size: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 4vw;
        position: absolute;
    }

    .subtitlecontent4{
        display: inline-block;
        font-size: 1.2vw;
        line-height: 1.5vw;
        width: 60vw;
        height: 10vw;
        margin-left: 20%;
    }

    .onepic1{
        width: 100%;
        margin-top: 1vw;
        margin-bottom: 4vw;
    }

    .onepic2{
        width: 91%;
        margin-left: 4vw;
        margin-bottom: 2vw;
    }

    .problemsolution{
        display: grid;
        grid-template-columns: 46vw 40vw;
        grid-template-rows: 6.4vw auto;
        margin-left: 9vw;
    }

    

    .solutiontitle{
        font-size: 1.8vw;
        margin: 0;
        padding: 0;
        margin-top: 4vw;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .problem{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        width: 36vw;
    }

    .solution{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        width: 36vw;
    }



/*    ol{
        margin: 0;
        padding: 0;
        border: 0;
        margin-left: 2.8vw;
    }*/

    .subtitleleft{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 40vw;
        margin-left: 15vw;
    }

    .subtitleleftimage{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 25vw;
        margin-left: 5vw;
        vertical-align: top;
    }

    .subtitleright{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 40vw;
        margin-left: 5vw;
    }

    .subtitlerightimage{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 25vw;
        margin-left: 15vw;
        vertical-align: top;
    }

    .halfimg{
        width: 35vw;
        margin-left: 7vw;
        margin-top: 1vw;
    }

    .visualdesignsmallimg{
        width: 44.9vw;
        margin-top: 3.2vw;
        margin-bottom: 1.3vw;
    }

    .figmaproto{
        margin: 0;
        padding: 0;
        margin-left: 7vw;
        margin-bottom: 5vw;
        width: 80vw;
        height: 60vw;
        border:0;
    }

    .indexphoto{
        width: 38vw;
        border-radius: 0.5vw;
    }

    .indexcopy{
        width: 38vw;
        font-family: "Manrope", sans-serif;
        font-size: 2vw;
        color:white;
    }

    .indexproject1{
        display: inline-block;
        margin-left: 7vw;
        margin-right: 3vw;
        margin-bottom: 5vw;
    }

    .indexproject2{
        display: inline-block;
        margin-left: 3vw;
    }

    .endingimg{
        margin-left: -2vw;
        width: 100vw;
    }

    .guggenheimvideosection1{
        margin:0;
        padding: 0;
        border:0;
        display: grid;
        grid-template-columns: 45vw 36vw;
        grid-template-rows: 45vw 45vw 45vw;
        padding-top: 2vw;
        padding-left: 9vw;
    }

    .guggenheimvideosection2{
        margin:0;
        padding: 0;
        border:0;
        display: grid;
        grid-template-columns: 45vw 40vw;
        grid-template-rows: 45vw
        padding-top: 2vw;
        padding-left: 7vw;
    }

    .guggenheimvideosection3{
        margin:0;
        padding: 0;
        border:0;
        display: grid;
        grid-template-columns: 45vw 36vw;
        grid-template-rows: 45vw
        padding-top: 2vw;
        padding-left: 9vw;
    }

    .iframe1{
        margin: 0;
        padding: 0;
        border:0;
        width: 45vw;
        height: 45vw;
    }

    .iframe2{
        margin: 0;
        padding: 0;
        border:0;
        width: 35vw;
        height: 35vw;
    }

    .iframe3{
        margin: 0;
        padding: 0;
        border:0;
        width: 80vw;
        height: 60vw;
        margin-left: 9vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .theheaveniframe1{
        margin: 0;
        padding: 0;
        border:0;
        width: 82vw;
        height: 50vw;
        margin-left: 7vw;
    }

    .theheaveniframe2{
        margin: 0;
        padding: 0;
        border:0;
        width: 82vw;
        height: 39vw;
        margin-left: 7vw;
    }

    .caption{
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 7vw;
        width: 70vw;
    }

    .caption2{
        display: block;
        font-size: 1.4vw;
    }

    .placeholder1{
        height:8vw;
    }

    .proxigif{
        width: 40vw;
        margin-right: 3vw;
        margin-bottom: 1vw;
    }

    .needleftmargin{
        margin-left: 7vw;
    }

    .proxiiframe1{
        margin: 0;
        padding: 0;
        border:0;
        width: 82vw;
        height: 48vw;
        margin-left: 7vw;
    }

    .yulinwebgrab{
        width: 86vw;
        margin-left: 7vw;
        margin-top: 2vw;
    }
}
