/*@font-face{
    font-family: "Founders Grotesk";
    src:url("Founders Grotesk Regular.woff");
}
*/
@font-face{
    font-family: "Founders Grotesk";
    src:url("../../fonts/FoundersGrotesk-Regular.woff");
}

/*mobile*/
@media only screen and (max-device-width: 500px) {
    body{
        background-color: #f3f3f3;
        font-family: "Founders Grotesk";
        font-style: 100;
        /*overflow: hidden;*/
        margin-left: -0.1vw;
    }

    a{
        font-family: "Founders Grotesk";
        font-style: 100;
    }

    .top{
        position: fixed;
        margin: 0;
        margin-top: -2vw;
        padding: 0;
        height: 14vw;
        width:100vw;
        z-index: 10;
        /*color:000FF;*/
    }

    #mynameen{
        font-size: 4vw;
        position: absolute;
        margin-right: 40vw;
        margin-top: 6vw;
    }
    .top a{
        color: black;
    }

    #topmenu{
        transition-duration: 0.35s;
    }

    .menu{
        position: absolute;
        font-size: 4vw;
        margin-left: 3.1vw;
        margin-right: 3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #menuarchive{
        font-size: 4vw;
        position: absolute;
        margin-left: 87vw;
        margin-top: 6vw;
    }

    #menuinfo{
        font-size: 4vw;
        position: absolute;
        margin-left: 87vw;
        margin-top: 6vw;
    }

    .info{
        margin-left: 0vw;
        background-color: #f3f3f3;
        /*padding-left: 3vw;*/
        /*margin-left: -3vw;*/
        /*margin-top: -3vw;*/
        /*width: 103vw;*/
    }

    .projecttitle{
        font-size: 8vw;
        margin: 0;
        padding: 0;
        /*margin-bottom: 2vw;*/
        padding-top: 5vw;
        padding-left: 8vw;
        width: 84vw;
        background-color: #f3f3f3;
        /*margin-left: -3vw;*/
        /*margin-top: -3vw;*/
        /*width: 103vw;*/
    }

    .category{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 4vw;
        margin-right: 20vw;
        display: block;
        padding-top: 6vw;
        padding-left: 8vw;
    }

    .time{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 4vw;
        display: block;
        padding-left: 8vw;
    }

    .role{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        display: block;
        padding-left: 8vw;
    }

    .content{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 6vw;
        width: 84vw;
        padding-bottom: 9vw;
        margin-left: 8vw;
    }

    .problemtitle{
        font-size: 6vw;
        line-height: 6.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
    }

    .solutiontitle{
        font-size: 6vw;
        line-height: 6.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 6vw;
    }

    .problem{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }

    .solution{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }

    .iframe1{
        margin: 0;
        padding: 0;
        width: 96vw;
        height: 84vw;
    }
    .iframe2{
        margin: 0;
        padding: 0;
        width: 40vw;
        height: 35vw;
    }

    .figmaproto{
        margin: 0;
        padding: 0;
        width:50vw;
        height:70vw;
        margin-left: -1vw;
    }

    .iframe3{
        margin: 0;
        padding: 0;
        width:96vw;
        height:60vw;
        margin-left: -1vw;
    }
    .iframe5{
        margin: 0;
        padding: 0;
        width:96vw;
        height:48vw;
        margin-left: -1vw;
    }
    .iframe2{
        margin: 0;
        padding: 0;
        width:94vw;
        height:100vw;
    }
    .caption1{

    }
    .caption2{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 2vw;
        margin-left: 8vw;
    }
    .heroimage{
        width: 100vw;
        margin: 0;
        /*margin-left: -3vw;*/
        margin-top: -1vw;
    }

    .subtitle1{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-left: 8vw;
        /*padding-left: 8vw;*/
        padding-top: 12vw;
    }

    .subtitle2{
        font-size: 4vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        /*margin-left: 2vw;*/
        background-color: #f3f3f3;
        margin-left: 8vw;
        /*width: 103vw;*/
        /*padding-left: 5vw;*/
        padding-top: 12vw;
    }

    .subtitlecontent1{
        font-size: 3.5vw;
        line-height: 4.5vw;
        margin: 0;
        padding: 0;
        margin-left: 8vw;
        width: 84vw;
        margin-top: 2vw;
        /*padding-left: 4vw;*/
    }

    .subtitlecontent2{
        font-size: 3.5vw;
        line-height: 3.5vw;
        margin: 0;
        padding: 0;
        width: 84vw;
        margin-top: 2vw;
        background-color: #f3f3f3;
        margin-left: 8vw;
        /*padding-left: 5vw;*/
        margin-top: -3vw;
        padding-top: 6vw;
    }

    .placeholder1{
        height:10vw;
    }

    .onepic1{
        width: 90vw;
        margin-left: 4vw;
        /*margin-right: 10vw;*/
    }
    .onepic2{
        width: 90vw;
        margin-left: 4vw;
    }
    .onepic3{
        width: 90vw;
        margin-left: 4vw;
    }
    .onepic4{
        width: 90vw;
        margin-left: 4vw;
        /*margin-right: 10vw;*/
    }
    .subtitleHeader1{
        font-size: 6.5vw;
        margin-left: 7.5vw;
        width: 90vw;
    }
    .subtitleHeader2{
        font-size: 6.5vw;
        margin-left: 7.5vw;
        width: 90vw;
    }
/*    .dotdot{
        font-size: 1.4vw;
        padding-top: 3vw;
    }*/
}



/* desktop layout for larger windows*/
@media only screen and (min-device-width: 501px){
    body{
        border:0;
        margin:0;
        font-family: "Founders Grotesk";
        font-style: 100;
        background-color: #f3f3f3;
        margin-bottom: 0;
    }

    a{
        font-family: "Founders Grotesk";
        font-style: 100;
    }

    a:link, a:visited {
      color: #000;
      text-decoration: none;
    }


    .top{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: -2vw;
        margin-left: 2vw;
        padding: 0;
        height: 6.5vw;
        width: 100vw;
        z-index: 10;
/*        color: #000; 
        color:blue;*/
        /*mix-blend-mode: difference;*/
    }

    .top:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    

    #topmenu{
        transition-duration: 0.35s;
    }

    #mynameen{
        font-size: 20vw;
        position: absolute;
        margin-left: 2vw;
        margin-right: 55vw;
        margin-top: 4.3vw;
    }

    .menu{
        font-size: 1.9vw;
        margin-left: 0vw;
        margin-right: 3vw;
        position: absolute;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #menuarchive{
        font-family: "Founders Grotesk", sans-serif;
        font-style: 100;
        font-size: 2vw;
        position: absolute;
        margin-left: 89.5vw;
        margin-top: 4.3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #menuinfo{
        font-size: 2vw;
        position: absolute;
        margin-left: 89.5vw;
        margin-top: 4.3vw;
    }

    #mynameen:hover{
        cursor: url(../../cssjs/cursor-hover.png), auto;
    }
    .mynameenhover:hover{
        cursor: url(../../cssjs/cursor-hover.png), auto;
    }
    #menuarchive:hover{
        cursor: url(../../cssjs/cursor-hover.png), auto;
    }
    #menuinfo:hover{
        cursor: url(../../cssjs/cursor-hover.png), auto;
    }

    .projecttitle{
        font-size: 3vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        /*padding-top: 5vw;*/
        padding-top: 38vw;
        margin-left: 7vw;
    }

    .info{
        margin-left: 7vw;
        margin-bottom: 5vw;
        display: grid;
        grid-template-columns: 50vw auto;
        grid-template-rows: 3vw auto;
    }

    #content1{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }

/*    div:nth-child(odd){
        background-color: pink;
    }
    div:nth-child(even){
        background-color: blue;
    }*/

    .category{
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-right: 20vw;
        display: inline;
        margin-left: 3vw;
        width: 30vw;
    }

    .time{
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-left: 3vw;
        margin-top: 3.55vw;
        display: inline;
        width: 30vw;
    }

    .role{
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-left: 3vw;
        /*margin-top: 3.55vw;*/
        display: inline;
        width: 30vw;
    }

    .content{
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin: 0;
        padding: 0;
    }

    .problemsolution{
        display: grid;
        grid-template-columns: 46vw 40vw;
        grid-template-rows: 6.4vw auto;
        margin-left: 9vw;
    }

    .problemtitle{
        font-size: 1.8vw;
        /*line-height: 2vw;*/
        margin: 0;
        padding: 0;
        margin-top: 4vw;
    }

    .solutiontitle{
        font-size: 1.8vw;
        margin: 0;
        padding: 0;
        margin-top: 4vw;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .problem{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        width: 36vw;
    }

    .solution{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        /*margin-left: 1.4vw;*/
        width: 36vw;
    }

    .heroimage{
        width: 100vw;
        position: absolute;
        z-index: -1;
        top: 0; 
        left: 0;
    }

    .subtitle1{
        font-size: 1.4vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        margin-top: 5vw;
        padding-top: 5vw;
        margin-left: 7vw;
    }

    .subtitleHeader1{
        font-size: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 7vw;
    }

    .subtitlecontent1{
        font-size: 1.8vw;
        margin: 0;
        padding: 0;
        margin-top: 1vw;
        margin-left: 7vw;
        width: 48vw;
    }

    .subtitle2{
        font-size: 1.4vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        margin-top: 5vw;
        /*padding-top: 5vw;*/
        margin-left: 7vw;
    }

    .subtitleHeader2{
        font-size: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 7vw;
    }

    .subtitlecontent2{
        font-size: 1.8vw;
        margin: 0;
        padding: 0;
        margin-top: 1vw;
        margin-left: 7vw;
        width: 48vw;
    }

/*    ol{
        margin: 0;
        padding: 0;
        border: 0;
        margin-left: 2.8vw;
    }*/

    .subtitleleft{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 40vw;
        margin-left: 15vw;
    }

    .subtitleleftimage{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 25vw;
        margin-left: 5vw;
        vertical-align: top;
    }

    .subtitleright{
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 40vw;
        margin-left: 5vw;
    }

    .subtitlerightimage{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 25vw;
        margin-left: 15vw;
        vertical-align: top;
    }

    .halfimg{
        width: 35vw;
        margin-left: 7vw;
        margin-top: 1vw;
    }

    .visualdesignsmallimg{
        width: 44.9vw;
        margin-top: 3.2vw;
        margin-bottom: 1.3vw;
    }

    .figmaproto{
        margin: 0;
        padding: 0;
        margin-left: 7vw;
        margin-bottom: 5vw;
        width: 80vw;
        height: 60vw;
        border:0;
    }

    .indexphoto{
        width: 38vw;
        border-radius: 0.5vw;
    }

    .indexcopy{
        width: 38vw;
        font-family: "Founders Grotesk", sans-serif;
        font-size: 2vw;
        color:white;
    }

    .indexproject1{
        display: inline-block;
        margin-left: 7vw;
        margin-right: 3vw;
        margin-bottom: 5vw;
    }

    .indexproject2{
        display: inline-block;
        margin-left: 3vw;
    }

    .endingimg{
        margin-left: -2vw;
        width: 100vw;
    }

    .onepic1{
        width: 85vw;
        margin-left: 7vw;
        margin-top: 1vw;
    }

    .onepic2{
        width: 86vw;
        margin-left: 7vw;
    }

    .onepic3{
        width: 82vw;
        margin-left: 7vw;
        /*margin-bottom: 1vw;*/
    }

    .onepic4{
        width: 26.5vw;
        margin-right: 1vw;
        margin-top: 1vw;
    }

    .dotdot{
        font-size: 1.4vw;
    }

    .guggenheimvideosection1{
        margin:0;
        padding: 0;
        border:0;
        display: grid;
        grid-template-columns: 45vw 36vw;
        grid-template-rows: 45vw 45vw 45vw;
        padding-top: 2vw;
        padding-left: 9vw;
    }

    .guggenheimvideosection2{
        margin:0;
        padding: 0;
        border:0;
        display: grid;
        grid-template-columns: 45vw 40vw;
        grid-template-rows: 45vw
        padding-top: 2vw;
        padding-left: 7vw;
    }

    .guggenheimvideosection3{
        margin:0;
        padding: 0;
        border:0;
        display: grid;
        grid-template-columns: 45vw 36vw;
        grid-template-rows: 45vw
        padding-top: 2vw;
        padding-left: 9vw;
    }

    .iframe1{
        margin: 0;
        padding: 0;
        border:0;
        width: 45vw;
        height: 45vw;
    }

    .iframe2{
        margin: 0;
        padding: 0;
        border:0;
        width: 35vw;
        height: 35vw;
    }

    .iframe3{
        margin: 0;
        padding: 0;
        border:0;
        width: 80vw;
        height: 60vw;
        margin-left: 9vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .theheaveniframe1{
        margin: 0;
        padding: 0;
        border:0;
        width: 82vw;
        height: 50vw;
        margin-left: 7vw;
    }

    .theheaveniframe2{
        margin: 0;
        padding: 0;
        border:0;
        width: 82vw;
        height: 39vw;
        margin-left: 7vw;
    }

    .caption{
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin: 0;
        padding: 0;
        margin-left: 7vw;
        width: 70vw;
    }

    .caption2{
        display: block;
        font-size: 1.4vw;
    }

    .placeholder1{
        height:8vw;
    }

    .proxigif{
        width: 40vw;
        margin-right: 3vw;
        margin-bottom: 1vw;
    }

    .needleftmargin{
        margin-left: 7vw;
    }

    .proxiiframe1{
        margin: 0;
        padding: 0;
        border:0;
        width: 82vw;
        height: 48vw;
        margin-left: 7vw;
    }

    .yulinwebgrab{
        width: 86vw;
        margin-left: 7vw;
        margin-top: 2vw;
    }
}
