

@font-face{
    font-family: "Founders Grotesk";
    src:url("../fonts/FoundersGrotesk-Regular.woff");
}


/*mobile*/
@media only screen and (max-device-width: 500px) {
    body{
        margin:3vw;
        font-family: "Founders Grotesk";
        font-style: 100;
    }
    a{
        font-family: "Founders Grotesk";
        font-style: 100;
    }
    .top{
        position: fixed;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 14vw;
        width:100vw;
        z-index: 10;
    }

    #mynameen{
        font-size: 4vw;
        position: absolute;
        margin-right: 40vw;
        margin-top: 6vw;
        color: white;
    }

    .menu{
        position: absolute;
        font-size: 3.5vw;
        margin-left: 0vw;
        margin-right: 3vw;
        text-decoration: underline;
        text-decoration-color: black;
        color: white;
    }

    .intro1{
        position: absolute;
        font-size: 6vw;
        line-height: 6.8vw;
        width: 90vw;
        margin-top: 10vw;
    }

    .intro2{
        position: absolute;
        font-size: 6vw;
        margin-top: 53vw;
    }

    .intro22{
        position: absolute;
        font-size: 6vw;
        margin-top: 72vw;
    }

    .intro3{
        position: absolute;
        font-size: 6vw;
        margin-top: 61vw;
    }

    .intro4{
        position: absolute;
        font-size: 6vw;
        margin-top: 69vw;
    }
    
    #menuinfo{
        font-size: 4vw;
        position: absolute;
        margin-left: 82vw;
        margin-top: 6vw;
    }

    .moving1{
        font-size: 10vw;
        line-height: 12vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-top: 33.6vw;
    }

    #txt{
        position: absolute;
        font-size: 6vw;
        margin-top: 45vw;
    }

    .indexphoto{
        width: 94vw;
        border-radius: 0.5vw;
    }

    .indexcopy{
        width: 94vw;
        font-family: "Founders Grotesk", sans-serif;
        font-size: 6vw;
        margin-top: 1vw;
    }

    .indexproject1{
        display: inline-block;
        margin-right: 3vw;
        margin-bottom: 8vw;
    }

    .indexproject2{
        display: inline-block;
        margin-bottom: 8vw;
    }

    #placeholder1{
        margin:0;
        width: 50vw;
        height: 30vw;
    }

    .inputbar{
        padding-top: 69vw;
    }

    #fname{
        font-size: 6vw;
        height:7vw;
        width:76vw;
        font-family: "Founders Grotesk", sans-serif;
        box-sizing: border-box;
        border: 0px;
        border-bottom: 0.5vw solid #fff;
        outline: none;
        background-color: black;
    }
}






/* desktop layout for larger windows*/
@media only screen and (min-device-width: 500px){
    body{
        margin:2vw;
        font-family: "Founders Grotesk";
        font-style: 100;
        /*cursor: url(cursor.png), auto;*/

    }
    a{
        font-family: "Founders Grotesk";
        font-style: 100;
        /*cursor: url(cursor.png), auto;*/
    }

    .top{
        position: fixed;
        background-color: black;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 6.5vw;
        width:100vw;
        z-index: 10;
        color: white;
    }

    #mynameen{
        font-style: 100;
        font-size: 2vw;
        position: absolute;
        margin-left: 6.8vw;
        /*margin-right: 55vw;*/
        margin-top: 4.3vw;
        color: white;
    }

    .menu{
        font-style: 100;
        font-size: 1.9vw;
        margin-left: 0vw;
        margin-right: 3vw;
        position: absolute;
        text-decoration: underline;
        text-decoration-color: black;
        color: white;
    }

    #mynameen:hover{
        cursor: url(cursor-hover.png), auto;
    }
    .mynameenhover:hover{
        cursor: url(cursor-hover.png), auto;
    }
    #menuarchive:hover{
        cursor: url(cursor-hover.png), auto;
    }
    #menuinfo:hover{
        cursor: url(cursor-hover.png), auto;
    }

    .intro1{
        font-size: 3vw;
        width: 70vw;
        padding-top: 5vw;
        margin-left: 7vw;
    }

    .intro2{
        font-size: 1.9vw;
        position: absolute;
        top: 17vw;
        left: 22vw;
    }

    .intro22{
        font-size: 1.9vw;
        position: absolute;
        top: 20vw;
        left: 9vw;
    }

    .intro3{
        font-size: 1.9vw;
        position: absolute;
        top: 17vw;
        left: 30vw;
    }

    .intro4{
        font-size: 1.9vw;
        position: absolute;
        top: 17vw;
        left: 40vw;
    }

    #txt{
        position: absolute;
        top: 17vw;
        left: 9vw;
        font-size: 1.9vw;
    }

    #menuinfo{
        font-size: 2vw;
        position: absolute;
        margin-left: 84vw;
        margin-top: 4.3vw;
        text-decoration: underline;
        text-decoration-color: black;
    }

    .move{
        font-family: "Founders Grotesk", sans-serif;
        font-style: 100;
        font-size: 3.55vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-left: 5vw;
        margin-top: -46vw;
    }

    .indexphoto{
        width: 38vw;
        border-radius: 0.5vw;
    }

    .indexcopy{
        width: 38vw;
        font-family: "Founders Grotesk", sans-serif;
        font-size: 2vw;
    }

    .indexproject1{
        display: inline-block;
        margin-left: 7vw;
        margin-right: 3vw;
        margin-bottom: 5vw;
    }

    .indexproject2{
        display: inline-block;
        margin-left: 3vw;
    }

    #placeholder1{
        margin:0;
        width: 50vw;
        height: 8vw;
    }

    #topmenu{
        transition-duration: 0.35s;
    }

    .inputbar{
        padding: 0;
        border: 0;
        padding-top: 6vw;
        padding-left: 7vw;
/*        width: 50vw;*/
    }
    
    #fname{
        font-size: 1.9vw;
        /*box-sizing: border-box;*/
        border: 0px;
        border-bottom: 0.2vw solid #fff;
        background-color: black;
        font-family: "Founders Grotesk", sans-serif;
        width: 27.8vw;
    }

    input{
        height:2vw;
        /*width:50vw;*/
    }

}
