@font-face{
    font-family: "Inter", helvetica, sans-serif;
}

body{
    margin: 0;
    font-family: "Inter", helvetica, sans-serif;
    font-weight: 400;
}

a{
    font-family: "Inter", helvetica, sans-serif;
    color:white;
    font-weight: 400;
}

/*mobile*/
@media only screen and (max-device-width: 500px) {
    #websitename{
        position:fixed;
        font-size: 30px;
        top: 50px;
        left: 20px;
        color:#222;
        text-decoration-line: none;
    }
    #websiteabout{
        position:fixed;
        font-size: 30px;
        top: 50px;
        right: 20px;
        color:#222;
        text-decoration-line: none;
    }
    .top{
        position: fixed;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 14vw;
        width:100vw;
        z-index: 10;
    }

    .intro1{
        position: absolute;
        font-size: 6vw;
        line-height: 6.8vw;
        width: 90vw;
        margin-top: 15vw;
        /*margin-bottom: 10vw;*/
    }

    .intro2{
        position: absolute;
        font-size: 5vw;
        line-height: 5.5vw;
        width: 81vw;
        margin-top: 15vw;
        margin-bottom: 10vw;
    }

    .intro3{
        position: absolute;
        font-size: 6vw;
        line-height: 6.8vw;
        width: 70vw;
        margin-top:135vw;
        margin-bottom: 10vw;
    }

    .intro4{
        font-size: 10vw;
        line-height: 12vw;
        position: absolute;
        top:20vw;
    }

    .intro5{
        font-size: 6vw;
        line-height: 6.8vw;
        position: absolute;
        bottom: 10vw;
    }

    .moving1{
        font-size: 10vw;
        line-height: 12vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-top: 33.6vw;
    }

    #quote{
        font-size: 10vw;
        line-height: 11vw;
    }

    #txt{
        position: absolute;
        bottom: 3vw;
        font-size: 6vw;
        line-height: 6.8vw;
    }
    .biotext2{
        margin: auto;
        font-size: 40px;
        padding-top: 20vw;
        width: 90vw;
    }

    .fourcolumntext1 {
        font-size: 48px;
    }
    .fourcolumntext2 {
        font-size: 20px;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    .fourcolumntext3 {
        font-size: 20px;
        margin-top: 4vw;
    }
    .detailtext{
        font-size: 20px;
    }
    .cta{
        border-radius: 50px;
        border: 2px solid white;
        text-decoration: none;
        padding: 10px 10px 11px 10px;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        width: 60%;
        font-size: 30px;
    }
    .font3{
        font-size: 36px;
    }
    .font2{
        font-size: 24px;
    }
    .font2gray{
        font-size: 24px;
        color: gray;
    }
}

/* desktop layout*/
@media screen and (min-device-width: 501px) and (max-device-width: 1300px) {
    #websitename{
        position:fixed;
        font-size: 20px;
        top: 40px;
        left: 20px;
        color:#222;
        text-decoration-line: none;
    }
    #websiteabout{
        position:fixed;
        font-size: 20px;
        top: 40px;
        right: 20px;
        color:#222;
        text-decoration-line: none;
    }
    .top{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 8.5vw;
        width:100vw;
        z-index: 10;
    }

    .biotext{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: 10vw;
        padding: 0;
        height: 6.5vw;
        width: 70vw;
        font-size: 34px;
    }

    .biotext2{
        margin: auto;
        background-color: none;
        padding: 0;
        padding-top: 10vw;
        height: 6.5vw;
        width: 92vw;
        font-size: 24px;
    }

    .intro1{
        font-size: 5vw;
        line-height: 5.5vw;
        width: 70vw;
        padding-top: 5vw;
        margin-left: 2vw;
    }

    .intro2{
        width: 76vw;
        font-size: 2vw;
        margin: 0;
        padding: 0;
        padding-top: 5vw;
        padding-left: 2vw;
    }

    .intro3{
        font-size: 3vw;
        line-height: 3.5vw;
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: 3vw;
        margin-left: 2vw;
    }

    .intro4{
        font-size: 5vw;
        line-height: 5.5vw;
        margin-left: 2vw;
        position: absolute;
        top:10vw;
    }

    .intro5{
        font-size: 1.9vw;
        margin-left: 2vw;
        position: absolute;
        bottom: 2vw;
    }

    .move{
        font-family: "Inter", helvetica, sans-serif;
        font-size: 3.55vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-left: 5vw;
        margin-top: -46vw;
    }

    #txt{
        position: absolute;
        bottom: 2vw;
        left: 84.5vw;
        font-size: 1.9vw;
        /*line-height: 3.5vw;*/
    }

    /* Create three equal columns that floats next to each other */
    .fourcolumntext1 {
      float: left;
      width: 22.75%;
      margin-right: 3%;
      display: block;
    }
    .fourcolumntext2 {
      float: left;
      width: 74%;
      display: block;
    }
    .fourcolumntext3 {
      float: left;
      width: 48.5%;
      display: block;
    }
    .fourcolumntext4 {
      float: left;
      width: 22.75%;
      display: block;
    }
    .font3{
        font-size: 30px;
        line-height: 36px;
    }
    .font2{
        font-size: 24px;
        line-height: 30px;
    }
    .font2gray{
        font-size: 24px;
        line-height: 30px;
        color: gray;
    }

    .detailtext{
        float: left;
        width: 60%;
        margin-right: 21%;
    }
    .detailtext2{
        float: left;
        width: 19%;
    }

    /* Create three equal columns that floats next to each other */
    .column1 {
      float: left;
      width: 25%;
    }
    .column2 {
      float: left;
      width: 25%;
    }
    .column3 {
      float: left;
      width: 50%;
    }

    .row{
        padding-bottom: 120px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .cta{
        border-radius: 50px;
        border: 2px solid white;
        text-decoration: none;
        padding: 10px 10px 11px 10px;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        width: 60%;
    }
}

/* large desktop layout*/
@media screen and (min-device-width: 1301px) {
    #websitename{
        position:fixed;
        font-size: 30px;
        top: 50px;
        left: 40px;
        color:#222;
        text-decoration-line: none;
    }
    #websiteabout{
        position:fixed;
        font-size: 30px;
        top: 50px;
        right: 40px;
        color:#222;
        text-decoration-line: none;
    }
    .top{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 8.5vw;
        width:100vw;
        z-index: 10;
    }

    .biotext{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: 10vw;
        margin-left: 2vw;
        padding: 0;
        height: 6.5vw;
        width: 70vw;
        font-size: 34px;
    }

    .biotext2{
        margin: auto;
        background-color: none;
        margin-top: 10vw;
        padding: 0;
        height: 6.5vw;
        width: 90vw;
        font-size: 24px;
    }
    .intro1{
        font-size: 5vw;
        line-height: 5.5vw;
        width: 70vw;
        padding-top: 5vw;
        margin-left: 2vw;
    }

    .intro2{
        width: 76vw;
        font-size: 2vw;
        margin: 0;
        padding: 0;
        padding-top: 5vw;
        padding-left: 2vw;
    }

    .intro3{
        font-size: 3vw;
        line-height: 3.5vw;
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: 3vw;
        margin-left: 2vw;
    }

    .intro4{
        font-size: 5vw;
        line-height: 5.5vw;
        margin-left: 2vw;
        position: absolute;
        top:10vw;
    }

    .intro5{
        font-size: 1.9vw;
        margin-left: 2vw;
        position: absolute;
        bottom: 2vw;
    }
    #menuarchive{
        font-family: "Inter", helvetica, sans-serif;
        /*src:url(HelveticaNeue.woff);*/
        font-size: 2vw;
        position: absolute;
        margin-left: 89vw;
        margin-top: 4.3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #menuinfo{
        font-size: 2vw;
        position: absolute;
        margin-left: 74.7vw;
        margin-top: 4.3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    .move{
        font-family: "Inter", helvetica, sans-serif;
        font-size: 3.55vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-left: 5vw;
        margin-top: -46vw;
    }

    #txt{
        position: absolute;
        bottom: 2vw;
        left: 84.5vw;
        font-size: 1.9vw;
        /*line-height: 3.5vw;*/
    }

    /* Create three equal columns that floats next to each other */
    .fourcolumntext1 {
      float: left;
      width: 22.75%;
      margin-right: 3%;
      display: block;
    }
    .fourcolumntext2 {
      float: left;
      width: 74%;
      display: block;
    }
    .fourcolumntext3 {
      float: left;
      width: 48.5%;
      display: block;
    }
    .fourcolumntext4 {
      float: left;
      width: 22.75%;
      display: block;
    }
    .font3{
        font-size: 36px;
        line-height: 48px;
    }
    .font2{
        font-size: 24px;
        line-height: 30px;
    }
    .font2gray{
        font-size: 24px;
        line-height: 30px;
        color: gray;
    }

    .detailtext{
        float: left;
        width: 60%;
        margin-right: 21%;
    }
    .detailtext2{
        float: left;
        width: 19%;
    }

    /* Create three equal columns that floats next to each other */
    .column1 {
      float: left;
      width: 25%;
    }
    .column2 {
      float: left;
      width: 25%;
    }
    .column3 {
      float: left;
      width: 50%;
/*      margin-right: 15%;*/
    }
/*    .column4 {
      float: left;
      width: 15%;
    }*/

    .row{
        padding-bottom: 120px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .cta{
        border-radius: 50px;
        border: 2px solid white;
        text-decoration: none;
        padding: 10px 10px 11px 10px;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        width: 60%;
    }
}