@font-face{
    font-family: "Founders Grotesk", sans-serif;
    src:url("FoundersGrotesk-Regular.woff");
}


/*mobile*/
@media only screen and (max-device-width: 500px) {
    body{
        margin:3vw;
        font-family: "Founders Grotesk", sans-serif;
        font-style: 100;
    }
    a{
        font-family: "Founders Grotesk", sans-serif;
        font-style: 100;
    }
    .top{
        position: fixed;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 14vw;
        width:100vw;
        z-index: 10;
    }

    #mynameen{
        font-size: 4vw;
        position: absolute;
        margin-right: 40vw;
        margin-top: 6vw;
    }

    .menu{
        position: absolute;
        font-size: 3.5vw;
        margin-left: 0vw;
        margin-right: 3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #txt{
        position: absolute;
        font-size: 6vw;
        margin-top: 61vw;
    }
    .indexintro{
        position: fixed;
        font-size: 6vw;
        margin-top: 20vw;
        width: 80vw;
    }

    .intro2{
        position: absolute;
        font-size: 6vw;
        margin-top: 69vw;
    }

    .intro3{
        position: absolute;
        font-size: 6vw;
        margin-top: 77vw;
    }

    #menuarchive{
        font-size: 4vw;
        position: absolute;
        margin-left: 80vw;
        margin-top: 6vw;
    }

    .moving1{
        font-size: 10vw;
        line-height: 12vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-top: 33.6vw;
    }

    #quote{
        font-size: 10vw;
        line-height: 11vw;
    }
    .project{
        display: none;
    }
    .project2{
        display: none;
    }
    .indexprojecttext{
        display: none;
    }

}






/* desktop layout for larger windows*/
@media only screen and (min-device-width: 500px){
    body{
        margin:2vw;
        font-family: "Founders Grotesk";
        font-style: 100;

    }
    a{
        font-family: "Founders Grotesk";
        font-style: 100;
    }

    .top{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 8.5vw;
        width:100vw;
        z-index: 10;
    }

    #mynameen{
        font-style: 100;
        font-size: 2vw;
        position: absolute;
        margin-left: 1.8vw;
        margin-right: 55vw;
        margin-top: 4.3vw;
    }

    .menu{
        font-style: 100;
        font-size: 1.9vw;
        margin-left: 0vw;
        margin-right: 3vw;
        position: absolute;
        text-decoration: underline;
        text-decoration-color: white;
    }

    .indexintro{
        font-size: 3vw;
        width: 70vw;
        padding-top: 7vw;
        margin-left: 2vw;
    }

    .indexbio{
        font-size: 2.4vw;
        width: 70vw;
        padding-top: 5vw;
        margin-left: 7vw;
    }

    .intro2{
        font-size: 1.9vw;
        position: absolute;
        top: 18vw;
        left: 17vw;
    }

    .intro3{
        font-size: 1.9vw;
        position: absolute;
        top: 18vw;
        left: 24vw;
    }

    #txt{
        position: absolute;
        top: 18vw;
        left: 4vw;
        font-size: 1.9vw;
    }

    #menuarchive{
        font-family: "Founders Grotesk", sans-serif;
        font-style: 100;
        /*src:url(HelveticaNeue.woff);*/
        font-size: 2vw;
        position: absolute;
        margin-left: 89.5vw;
        margin-top: 4.3vw;
        text-decoration: underline;
        text-decoration-color: white;
    }

    .move{
        font-family: "Founders Grotesk", sans-serif;
        font-style: 100;
        font-size: 3.55vw;
        position: absolute;
        margin: 0;
        padding:0;
        margin-left: 5vw;
        margin-top: -46vw;
    }
    .indexprojecttext{
        display: inline-block; 
        height: 1000; 
        width: 50vw; 
        font-size: 3vw; 
        margin-left: 2vw; 
        margin-bottom: 1vw;
    }

}
